/* z-index mengatur posisi tumpukan element yang posisinya non-static */

div{
    width: 200px;
    height: 200px;
    position: absolute;
}

.satu{
    background-color: salmon;
    z-index: 1;
}

.dua{
    background-color: limegreen;
    /* z-index: lebih besar lebih kedepan */
    z-index: 2;
    top: 100px;
    left: 100px;
}

.tiga{
    background-color: royalblue;
    top: 200px;
    left: 200px;
}